:root {
    --primary-color: #4A90E2;
    /* Vibrant blue */
    --text-color: #0c0c0c;
    /* Dark text for readability */
    --hover-color: #E0E0E0;
    /* Light gray for hover states */
    --secondary-color: #E8EAF6;
    /* Light gray for secondary color */
    --primary-color-light: #F1F8FF;
    /* Very light blue for backgrounds */
    --text-color-light: #FFFFFF;
    /* White text for dark backgrounds */
    --hover-color-light: #cfe5f4;
    /* Light blue for hover color */
    --secondary-color-light: #CFD8DC;
    /* Light gray for alternating rows */
    --primary-color-dark: #3E70A4;
    /* Darkened primary color */
}



body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(135deg, #f4f4f4 0%, #add8e6 100%);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons svg {
    width: 20px;
    height: 20px;
}

.header-buttons button {
    padding: 10px;
    border: none;
    background-color: white;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-buttons button:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
    color: var(--hover-color);
}

.container {
    background-color: #f4f4f4;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    height: 100%;
    padding: 20px;
    display: flex;
    padding-top: 0;
    flex-direction: column;
    width: 80%;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#tutorial {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 0 10px;
    box-sizing: border-box;
    border: 2px solid #007BFF;
    border-radius: 5px;
}

.form-group input[type="range"] {
    width: 90%;
}

/* Slider thumb style when active */
input[type="range"]:active::-webkit-slider-thumb {
    background-color: #666;
    /* Darker thumb */
}

/* For Firefox */
input[type="range"]:active::-moz-range-thumb {
    background-color: #666;
}

.button-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-group button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
}

.button-group button:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
}

.green-button {
    background-color: #28a745;
}

.green-button:hover {
    background-color: #218838;
}

.plus-icon {
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 5px;
}




footer {
    margin-top: auto;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.form-group input[type="text"] {
    animation: pulsing 0.3 ease infinite;
}

footer a {
    color: var(--text-color);
}

footer a:hover {
    text-decoration: underline;
}


#tutorial {
    text-align: left;
}



input[type="range"] {
    /* Base slider styles */
    cursor: pointer;
    /* Change cursor to indicate it's draggable */
    transition: transform 0.2s ease;
    /* Smooth transition for size changes */
}

#scoreValue,
.number {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}



@keyframes pulse {
    0% {
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 123, 255, 0.6);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.8);
    }
}

.pulsing {
    animation: pulse 1.5s infinite;
}

@media (max-width: 600px) {

    h1 {
        font-size: 1.5em;
    }

    input[type="range"]:active {
        /* Increase size when active */
        transform: scale(1.1);
        /* pulse animation */
    }

    .form-group input[type="range"]:active {
        /* Increase size when active */
        transform: scale(1.1);
    }

    #loadCoursesText,
    #saveCoursesText,
    #tutorialText {
        display: none;
    }

    .header-buttons svg {
        width: 40px;
        height: 40px;
        background: none;
        padding: 0;
        background: var(--primary-color);
    }

    .header-buttons button {
        padding: 0;
    }

    .container {
        padding: 0;
        margin-top: 0.5em;
        width: 96%;
    }

    p {
        margin: 0.7em;
    }

    .form-group input[type="text"] {
        width: calc(80% - 20px);
        padding: 0.4em;
        margin: 0 0.5em;

    }

    .form-group {
        margin: 0.5em;
        padding-top: 1em;

    }

    .form-group {
        display: flex;
        flex-direction: column;
        /* Stack children vertically */
        align-items: center;
        /* Center children horizontally */
        justify-content: center;
        /* Center children vertically if needed */
    }

    .form-group input[type="range"] {
        width: 80%;
        /* Adjust width as needed */
        /* margin: 0 auto; is not necessary with flexbox centering */
        /* Base slider styles */
        cursor: pointer;
        /* Change cursor to indicate it's draggable */
        transition: transform 0.2s ease;
        /* Smooth transition for size changes */
    }

    .form-group {
        display: none;
    }


}

/*
.form-group:not(body > div.container > div:nth-child(2)) {
    display: none;
} */

.form-group {
    display: none;
}



h2 {
    font-family: 'Arial', sans-serif;
    /* Modern, readable font */
    color: #1f1f1f;
    /* A calming, academic blue */
    background-color: #E9F7FE;
    /* Light blue background for emphasis */
    padding: 10px 20px;
    /* Adequate padding for visual comfort */
    border-radius: 8px;
    /* Soft rounded corners */
    border-left: 5px solid #2E86C1;
    /* A darker blue accent on the left */
    margin: 20px 0;
    /* Ensure it stands out by adding some margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    text-align: center;
    /* Center the text for emphasis */
}

.form-group-Name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 16px;
    max-width: 400px;
}

.form-group-Name input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 0 10px;
    box-sizing: border-box;
    border: 2px solid #007BFF;
    border-radius: 5px;
}