#courseTable {
    width: 100%;
    border-collapse: separate; /* Adjusted for border-spacing */
    margin: 20px 0;
    border: 1px solid #607d8b;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures border-radius is applied to children */
}

#courseTable th, #courseTable td {
    padding: 10px;
    border-bottom: 1px solid #303030; /* Only bottom border for a cleaner look */
    text-align: center;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#courseTable th {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold; /* Make header text bold */
}

#courseTable td {
    position: relative;
    background: var(--secondary-color);
}

/* Striped rows for better readability */
#courseTable tr:nth-child(odd) td {
    background: var(--secondary-color-light); /* Slightly lighter than the main secondary color */
}

/* Hover effect for rows */
#courseTable tr:hover td {
    background-color: var(--hover-color); /* Define this color in your :root or wherever you define CSS variables */
}

/* Responsive table */
@media screen and (max-width: 600px) {
    #courseTable, #courseTable thead, #courseTable tbody, #courseTable th, #courseTable td, #courseTable tr {
        display: block;
    }
    #courseTable th, #courseTable td {
        text-align: left; /* Adjust text alignment for mobile */
    }
    #courseTable th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #courseTable td {
        position: relative;
        padding-left: 50%; /* Make space for the content to be displayed linearly */
    }
    #courseTable td:before {
        /* Use the data-label attribute from the th as content */
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
}

.editing {
    background-color: #ffff99; /* Highlight color for editing row */
}

/* Assuming a class .new-course is added to rows when a new course is added */
.new-course {
    animation: addCourseAnimation 0.5s ease-in-out;
}

@keyframes addCourseAnimation {
    from { background-color: #ccffcc; }
    to { background-color: transparent; }
}

#courseTable .delete {
    color: red;
    cursor: pointer;
}

#courseTable .delete:hover {
    text-decoration: underline;
}

#courseListContainer {
background:#7e7e7e;
    width: 100%;
    height: 300px; /* Fixed height */
    border-collapse: separate; /* Adjusted for border-spacing */
    margin: 20px 0;
    border: 1px solid #607d8b;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Makes table scrollable when content overflows */
}